$primary-color: #007296;
$secondary-color: #e66e19;
$margin_container: 16px 119px;
$small_size: 14px;
$normal_size: 16px;
$heading_size: 48px;
$font_family: "Poppins";

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Poppins" !important;
}

ul,
ol {
  list-style: none;
}
 .container {
  padding: 0px 119px;
}
.btn {
  font-family: inherit;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  outline: none;
  cursor: pointer;
}

a {
  color: #ffffff;
  cursor: pointer;
  text-decoration: none;
}

header {
  font-size: $normal_size;

  .header-top {
    color: white;
    margin: $margin_container;
    display: flex;
    align-items: center;
    height: 48px;

    .logo {
      flex: 1;
    }

    .end-section {
      .btn-transparent {
        background-color: transparent;
        color: $primary-color;
      }

      .btn-secondary {
        background-color: $secondary-color;
        color: #ffffff;
        border-radius: 8px;
        font-weight: 300;
      }
    }
  }

  .header-bottom {
    padding: 16px 130px;
    color: #ffffff;
    background-color: $primary-color;
    height: 50px;
    display: flex;
    align-items: center;

    .nav {
      display: flex;
      align-items: center;
      align-content: center;
      gap: 36px;
      font-weight: 300;
      li:last-child {
        margin-left: -12px;
      }

      a {
        display: flex;
        gap: 4px;
        align-items: center;

        .down_icon {
          font-size: 18px;
        }
      }
      .search_icon {
        font-size: 20px;
      }
    }
  }
}

footer {
  .footer_top {
    background-color: $primary-color;
    color: white;
    padding: 64px 119px;
    display: flex;
    gap: 24px;
    .footer_container {
      width: 264px;
      h4 {
        font-weight: 600;
        font-size: 18px;
      }
      .footer_list {
        font-weight: 300;
        font-size: 16px;
        margin-top: 24px;
        ul {
          display: flex;
          flex-direction: column;
          gap: 16px;
          li {
            display: flex;
            align-items: center;
            align-content: center;
            gap: 8px;
          }
        }
      }
      .suscribe_section {
        h4 {
          font-weight: 600;
          font-size: 18px;
        }
        p {
          font-weight: 300;
          font-size: 16px;
          margin-top: 24px;
          width: 264px;
        }
        form {
          display: flex;
          margin-top: 16px;
          input[type="text"] {
            padding: 12px 16px;
            border-radius: 8px 0px 0px 8px;
            border: none;
            width: 186px;
          }
          button {
            border: none;
            background: #e66e19;
            border-radius: 0px 8px 8px 0px;
            color: #ffffff;
            width: -webkit-fill-available;
            cursor: pointer;
          }
        }
        h3 {
          font-weight: 600;
          font-size: 18px;
          margin-top: 32px;
        }
        .icon_list {
          display: flex;
          gap: 8px;
          margin-top: 24px;
          .icon_base_circle {
            width: 32px;
            height: 32px;
            background: #ffffff;
            box-shadow: 0px 4px 8px #0000000a, 0px 2px 4px #0000000a;
            border-radius: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
          }
        }
      }
    }
  }
  .footer_bottom {
    background-color: #005671;
    color: white;
    display: flex;
    align-content: center;
    padding: 24px 119px;
    font-size: 12px;
    .left {
      flex: 1;
    }
    .right {
      display: flex;
      gap: 32px;
      font-size: 14px;
      font-weight: 300;
    }
  }
}

@import "./home";
@import "./colleges";
